/**
 * Admin Styles
 */

body,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
textarea,
select,
.components-base-control,
.editor-styles-wrapper .editor-block-list__block,
.editor-styles-wrapper .editor-default-block-appender textarea.editor-default-block-appender__content,
.editor-styles-wrapper .editor-post-title__block .editor-post-title__input {
	font-family: Georgia, "Times New Roman", Times, serif;
	text-transform: lowercase;
}

.wp-admin .editor-rich-text__editable {
	text-transform: initial;
}
