$border-radius: 0;

:root {
	--color__bg: #000;
	--color__heading: #c0afd3;
	--color__btn: #37144e;
	--color__btn-text: #fff;
	--border-radius: 0;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	margin: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.sp-section__contain::after {
	display: table;
	clear: both;
	content: "";
}

.sp-section--intro,
.sp-section--testimonials,
.sp-section--chapters,
.sp-section--download {
	float: left;
	width: 100%;
}

.sp-section__contain {
	position: relative;
	max-width: 73.125em;
	margin: 0 auto;
	padding: 2em;
}

@media (min-width: 48em) {

	.sp-section__contain {
		padding: 4em 2em;
	}
}

@media (min-width: 73em) {

	.sp-section__contain {
		padding: 5em 2em;
	}
}

.sp-section--intro {
	background: var(--color__bg);
	color: #fff;
}

.sp-section--testimonials {
	background: #fff;
}

.sp-section--chapters {
	background: #fafafa;
}

.sp-section--download {
	background: var(--color__bg);
	color: #fff;
}

.sp__content {
	float: left;
	width: 100%;

	p {
		font-size: 1.1em;
		line-height: 1.5;
	}
}

@media (min-width: 48em) {

	.sp__content {
		float: right;
		width: 45%;
	}
}

.sp__content__form {
	max-width: 80%;
	margin: auto;
}

@media (min-width: 48em) {

	.sp__content__form {
		float: right;
		width: 45%;
	}
}

h1 {
	margin: 0.125em 0 0.5em;
	font-family: "Museo Sans Rounded";
	font-weight: 400;
	font-size: 1.75em;
	color: var(--color__heading);
}

@media (min-width: 36.875em) {

	h1 {
		font-size: 2em;
	}
}

@media (min-width: 73em) {

	h1 {
		font-size: 2.75em;
	}
}

h2 {
	margin: 0;
	font-family: "Museo Sans Rounded";
	color: var(--color__heading);
	font-size: 1.425em;
	font-weight: 400;
}

@media (min-width: 36.875em) {

	h2 {
		font-size: 1.75em;
	}
}

@media (min-width: 73em) {

	h2 {
		font-size: 2.125em;
	}
}

h3 {
	margin: 2em 0 1.5em;
	font-family: "Museo Sans Rounded";
	color: var(--color__heading);
	font-size: 1.25em;
	font-weight: 400;
}

@media (min-width: 36.875em) {

	h3 {
		font-size: 1.5em;
	}
}

@media (min-width: 73em) {

	h3 {
		font-size: 1.75em;
	}
}

h4 {
	margin: 1.25em 0 0;
	color: #fff;
	font-family: "Archer SSm A", "Archer SSm B", Georgia, serif;
	font-style: italic;
	font-weight: 400;
	font-size: 1.5em;
}

@media (min-width: 36.875em) {

	h4 {
		font-size: 1.75em;
	}
}

@media (min-width: 48em) {

	h4 {
		margin: 3.25em 0 0;
	}
}

.sp__logo {
	display: block;
	width: 10em;
	max-width: 60%;
	margin: 0 auto;
	filter: invert(1);
}

.sp__logo img {
	border: 0;
	height: auto;
	max-width: 100%;
}

.sp__ipad-cont {
	position: relative;
	float: left;
}

@media (min-width: 25em) {

	.sp__ipad-cont {
		width: 50%;
		margin: 3em auto;
		float: none;
		clear: both;
	}
}

@media (min-width: 48em) {

	.sp__ipad-cont {
		position: absolute;
		float: left;
		clear: none;
		width: 45%;
		margin: 4.75em 0 0;
	}
}

@media (min-width: 48em) and (max-height: 885px) {

	.sp__ipad-cont {
		max-width: 411px;
	}
}

.sp__ipad {
	position: relative;
	width: 100%;
	float: left;
	overflow: hidden;
}

.sp__ipad__frame {
	position: relative;
	z-index: 2;
	float: left;
	width: 100%;
}

.sp__ipad__img {
	position: absolute;
	top: 0;
	padding: 11% 4% 0 12%;
	width: 100%;
}

.sp__ipad__img img {
	float: left;
	width: 100%;
}

@media (min-width: 48em) {

	.sp__ipad--sticky {
		position: fixed;
		top: 0;
		max-width: 527px;
	}
}

@media (min-width: 48em) and (max-height: 885px) {

	.sp__ipad--sticky {
		max-width: 411px;
	}
}

.sp__info {
	float: left;
	width: 100%;
}

.sp__info p {
	margin: 0;
	font-size: 1em;
	line-height: 1.325;
}

@media (min-width: 48em) {

	.sp__info {
		float: right;
		width: 45%;
	}

	.sp__info p {
		font-size: 1.125em;
		line-height: 1.5;
	}
}

.divider {
	position: relative;
	width: 55%;
	height: 2px;
	margin: 2em 0;
	background: #fff;
}

.divider::before,
.divider::after {
	position: absolute;
	top: 0;
	content: "";
	height: 2px;
	background: #fff;
}

@media (min-width: 36.875em) {

	.divider {
		margin: 3.125em 0;
	}
}

.sp__subinfo {
	float: left;
	width: 100%;
	margin-bottom: 3em;
	text-align: center;
}

.sp__subinfo .btn,
.sp__subinfo .hs-form .hs-button,
.hs-form .sp__subinfo .hs-button {
	display: none;
}

@media (min-width: 48em) {

	.sp__subinfo {
		float: right;
		width: 45%;
		clear: right;
		margin-bottom: 0;
		text-align: left;
	}

	.sp__subinfo .btn,
	.sp__subinfo .hs-form .hs-button,
	.hs-form .sp__subinfo .hs-button {
		display: block;
	}
}

.sp__tag {
	display: inline-block;
	margin: 0 1em 0 0;
	padding: 0 0 0 0.625em;
	width: 137px;
	height: 54px;
	line-height: 1.75;
	background: url(//cdn2.hubspot.net/hub/478844/file-2656011617-svg/sp/images/icon-tag.svg) no-repeat;
	font-family: "Museo Sans Rounded";
	font-size: 1.875em;
	text-align: left;
}

.sp-section--testimonials .sp__tag,
.sp-section--chapters .sp__tag {
	color: #9f9c9c;
	background: url(//cdn2.hubspot.net/hub/478844/file-2639288146-svg/sp/images/icon-tag-dark.svg) no-repeat;
}

@media (min-width: 48em) {

	.sp__tag {
		display: block;
		float: left;
	}
}

.sp__price {
	position: relative;
	font-family: "Museo Sans Rounded";
	font-size: 2.5em;
	line-height: 1.2;
}

.sp__price::after,
.sp__price::before {
	position: absolute;
	content: "";
	-ms-transform: rotate(-12deg);
	transform: rotate(-12deg);
}

.sp__price::before {
	top: 22px;
	left: -15px;
	width: 140%;
	height: 6px;
	background: var(--color__heading);
}

.sp__price::after {
	top: 24px;
	left: -15px;
	width: 140%;
	height: 2px;
	background: #fff;
}

.sp-section--testimonials .sp__price,
.sp-section--chapters .sp__price {
	color: #9f9c9c;
}

.sp-section--testimonials .sp__price::before,
.sp-section--chapters .sp__price::before {
	background: #fff;
}

.sp-section--testimonials .sp__price::after,
.sp-section--chapters .sp__price::after {
	background: #9f9c9c;
}

@media (min-width: 48em) {

	.sp__price {
		float: left;
	}
}

.btn,
.hs-form .hs-button {
	display: block;
	float: left;
	margin: 2.4em 0 0;
	padding: 0 2.5em;
	border-radius: $border-radius;
	clear: both;
	height: 3.8em;
	line-height: 3.8;
	color: var(--color__btn-text);
	background: var(--color__btn);
	text-transform: uppercase;
	font-family: "Museo Sans Rounded";
	font-size: 1em;
	text-decoration: none;
	outline: 0;
	border: 0;
	cursor: pointer;
	-webkit-appearance: none;
}

@media (min-width: 73em) {

	.btn,
	.hs-form .hs-button {
		font-size: 1.25em;
	}
}

.sp__testimonials {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sp__testimonial {
	float: left;
	width: 100%;
	margin: 2em 0 0;
}

@media (min-width: 73em) {

	.sp__testimonial {
		margin: 4.125em 0 0;
	}
}

.sp__testimonial__img {
	position: relative;
	float: left;
	width: 25%;
	margin: 0 10% 0 0;
}

.sp__testimonial__img img {
	border-radius: 50%;
	width: 100%;
}

.sp__testimonial__img .quote {
	display: block;
	position: absolute;
	top: 5px;
	right: -10px;
	width: 0.629em;
	height: 0.629em;
	background: #fff;
	color: #262727;
	font-size: 3.875em;
	font-family: "Archer SSm A", "Archer SSm B", Georgia, serif;
	border-radius: 50%;
	text-align: center;
	line-height: 1;
}

.sp__testimonial__quote {
	float: left;
	width: 65%;
	font-family: "Museo Sans Rounded";
}

.sp__testimonial__quote p {
	color: #9f9c9c;
	font-size: 1em;
	line-height: 1.375;
}

.sp__testimonial__quote p strong {
	color: #5d5e5e;
	font-family: "Archer SSm A", "Archer SSm B", Georgia, serif;
}

.sp__testimonial__quote p a {
	color: var(--color__heading);
	text-decoration: none;
	font-family: "Archer SSm A", "Archer SSm B", Georgia, serif;
}

@media (min-width: 73em) {

	.sp__testimonial__quote p {
		line-height: 1.5;
	}
}

.sp__chapter__intro {
	margin: 1.5em 0 0;
	font-size: 1em;
	line-height: 1.375;
	color: #9f9c9c;
}

@media (min-width: 73em) {

	.sp__chapter__intro {
		margin: 1.875em 0 0;
		font-size: 1.125em;
		line-height: 1.5;
	}
}

.sp__chapters {
	margin: 2.813em 0 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.sp__chapters li {
	float: left;
	margin: 0 0 1.5em;
	width: 42.5%;
}

.sp__chapters li:nth-child(2n+2) {
	margin-left: 10%;
}

.sp__chapters li .img-contain {
	position: relative;
}

.sp__chapters li .img-contain::before {
	display: none;
	position: absolute;
	bottom: -2px;
	left: 0;
	content: "";
	width: 100%;
	height: 5px;
	background: #eee;
}

.sp__chapters li img {
	position: relative;
	max-width: 100%;
	border: 2px solid #9f9c9c;
}

@media (min-width: 48em) {

	.sp__chapters li {
		width: 30%;
	}

	.sp__chapters li .img-contain::before {
		display: block;
	}
}

.sp__chapters__header {
	font-size: 1em;
	line-height: 1.125;
	text-transform: uppercase;
	color: #000;
}

@media (min-width: 48em) {

	.sp__chapters__header {
		margin-bottom: 0.6em;
		text-align: left;
	}
}

@media (min-width: 48em) {

	.sp__chapters li {
		float: none;
		display: inline-block;
		vertical-align: top;
	}
}

@media (min-width: 73em) {

	.sp__chapters {
		margin: 4.813em 0 0;
	}

	.sp__chapters li {
		margin: 0 0 2.5em;
	}

	.sp__chapters__header {
		font-size: 1.125em;
		line-height: 1.2;
	}
}

.sp__chapters__description {
	font-size: 0.85em;
	font-style: oblique;
	text-align: left;
	color: #5d5e5e;
}

@media (min-width: 73em) {

	.sp__chapters__description {
		margin: 0;
	}
}

.sp__stuck {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: var(--color__bg);
	border-top: 2px solid var(--color__bg);
	padding: 0.5em 2em;
	z-index: 999;
	color: #fff;
	text-align: center;
	transition: 0.2s bottom;
}

.sp__stuck .btn,
.sp__stuck .hs-form .hs-button,
.hs-form .sp__stuck .hs-button {
	float: none;
	margin: 0 auto;
	display: inline-block;
	height: 3em;
	padding: 0 2.5em;
	line-height: 2.8;
	background: var(--color__btn);
	border: 2px solid #fff;
}

@media (min-width: 48em) {

	.sp__stuck {
		display: none;
	}
}

.sp__stuck--hidden {
	bottom: -4.375em;
}

.sp__get {
	display: none;
}

@media (min-width: 48em) {

	.sp__get {
		display: block;
	}
}

.sp-section--download h1 {
	margin: 1em 0 0.25em;
	clear: left;
}

@media (min-width: 48em) {

	.sp-section--download h1 {
		margin: 2.375em 0 0.25em;
	}
}

.sp__download__intro {
	font-family: "Archer SSm A", "Archer SSm B", Georgia, serif;
	margin: 0;
	font-size: 1.125em;
}

.hs-form {
	margin: 2.5em 0 0;
}

.hs-form label {
	display: none;
}

.hs-form .hs-form-field {
	float: left;
	width: 100%;
	margin: 0 1em 2em 0;
}

.hs-form input,
.hs-form .hs-input {
	float: left;
	padding: 0 1em;
	max-width: 95%;
	height: 2.72em;
	background: #fff;
	font-size: 1.125em;
	color: #5d5e5e;
	outline: 0;
	border-radius: 4px;
	font-family: "Museo Sans Rounded";
	border: 2px solid #fff;
	-webkit-appearance: none;
}

.hs-form input.invalid,
.hs-form .hs-input.invalid {
	border: 2px solid #ef4e65;
}

.hs-form .hsformerror {
	display: none !important;
}

.hs-form .hs-error-msgs {
	display: none !important;
}

.hs-form .hs_agency_size {
	position: relative;
	float: left;
	margin: 0 0 2em;
	max-width: 95%;
	height: 2.72em;
	overflow: hidden;
	background: #fff;
	font-size: 1.125em;
	border-radius: 4px;
}

.hs-form .hs_agency_size select {
	float: left;
	max-width: 95%;
	-webkit-appearance: none;
	padding: 0 1em;
	height: 2.72em;
	background: transparent;
	border: 0;
	border-radius: 0;
	font-size: 1em;
	color: #5d5e5e;
	font-family: "Museo Sans Rounded";
	outline: 0;
}

.hs-form .hs_agency_size::after {
	position: absolute;
	top: 25px;
	right: 25px;
	content: "";
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #5d5e5e;
}

.hs-form .hs-button {
	float: left;
	margin: 0;
	width: auto;
}

@media (min-width: 73em) {

	.hs-form {
		margin: 3.5em 0 0;
	}

	.hs-form .hs-form-field {
		width: 43%;
	}

	.hs-form .hs-form-field:nth-of-type(2n+2) {
		margin-left: 6%;
	}

	.hs-form .hs_agency_size {
		width: 45% !important;
	}
}

input,
.hs-form,
.hs-input {
	width: 100%;
	-webkit-appearance: none;
}

.sp__footer {
	padding-top: 0;
	text-align: center;
}

.sp__footer a {
	display: block;
	color: var(--color__heading);
	text-decoration: none;
	font-size: 1.125em;
}

.sp__footer__logo {
	display: block;
	max-width: 176px;
	margin: 0 auto 1em;
	border: 0;
}
